.log-area {
    background-color: black;
}

.log-text {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
}

.time {
    color: aquamarine;
}

.message {
    color: #ffffff;
}

.message-red {
    color: red;
}

.message, .message-red {
    margin-left: 1ex;
}

.indent-1::before {
    content: "  ";
    white-space: pre;
}

.indent-2::before {
    content: "    ";
    white-space: pre;
}

body {
    background-color: #1d1d1d;
}

h1, h2, .white-text {
    color: white;
}

.border-white {
    border: #ffffff;
    border-width: 2px;
}

.rotate-divider {
    border-top: 2px solid rgba(255, 255, 255, 1);
}

.rotated-text {
    opacity: 0.3;
}

.toggle {
    margin-left: 0px !important;
}

.checkbox-inline {
    margin-bottom: 0px !important;
}

.alerts-container {
    z-index: 1000;
}

html, body {
    height: 100%;
}

.toggle-handle {
    background-color: white;
}

@media screen and (max-width: 800px) {
    .log-text {
        flex-direction: column;
    }
}