<!doctype html>
{% block title %}<title>Template...</title>{% endblock %}
{% block static_files %}
<!-- SCRIPTS AND CSS WITH FALLBACKS -->

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script> 
    if(!window.jQuery) {
        document.write("<script src=\"{{ url_for('static', filename='jquery-3.4.1.min.js') }}\"><\/script>");
    }
</script>

<!-- bootstrap things-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script> 
if(typeof($.fn.modal) === 'undefined') {
    document.write("<script src=\"{{ url_for('static', filename='bootstrap.bundle.min.js') }}\"><\/script>");
}
</script>

<!-- Bootstrap toggle -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="{{ url_for('static', filename='custom.js') }}"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!--<script>
$(document).ready(function() {
    var bodyColor = $('body').css("color"); 
    if(bodyColor != 'rgb(51, 51, 51)') {
        $("head").prepend("<link rel='stylesheet' href=\"{{ url_for('static', filename='bootstrap.min.css') }}\" type='text/css' media='screen'>");
    }
});
</script>-->

<!-- font awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<!-- custom things -->
<link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
{% endblock %}
{% block body %}{% endblock %}